body {
  margin: auto;
    background-image: url(../images/dark-honeycomb.png)
}

.section {
    background-color: white;
    width: 500px;
}

.jumbotron  {  
    background-color: white; 
    max-height: 100%;
    max-width: 80%;
    position: inherit;
    left: 10%;
    top: 15%;
    background-position: center;
  }
  
  .img {
     padding: 5px;
     max-height: 300px;
     max-width: 220px;
    }

  .row-head {
    border-bottom: 1px solid black;
    position: relative;
    top: -30px; 
  }  
  
  .navbar-nav { 
    margin: auto;
    flex-direction: row;
  }

  .nav-item {
    margin-right: 10px; 
  }
  
  .email-me {
    margin: 20px;
  }
  
@media screen and (max-width: 768px) {
   .jumbotron {
    background-color: #f8c;
  }

  .btn { 
    margin-inline-start: 3px;
  }
   .navbar-brand {
    margin: auto;
   }

   .form-control {
     width: 70%;
    }

  .nav-item {
    padding: 3px;
  }
    
  .navbar-nav { 
    flex-direction: row;
   
   }

  .form-inline {
    margin: auto;
  }
  .navbar-brand, .btn-outline-success, .navbar-nav {
    margin: auto;
   }
   #exampleFormControlInput1, #exampleFormControlTextarea1 {
      width: 100%;
   }
}
  
  
